<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.jade
		include inc/css.jade
	body.main.loading
		#page-wr
			include inc/header.jade
			#content
				.content
					.main-screen
						.main-screen__slider
							figure.img.img--1
								img(src="img/photos/img-1.jpg", alt="")
								figcaption.img__text
									.wrapper
										.text
											.text__text
												p Спасибо, что доверяете нам <span>свои&nbsp;проекты.</span> Они вдохновляют нас работать еще лучше.
											.text__btn
												.play-btn
													canvas.play-btn__btn(width="80" height="80")
													span.play-btn__text Смотреть видео
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg.html
											.text2__text
												.text2__text-title Вывески
												.text2__text-text
													p 
														p Правильный выбор вывески – это ключ к успеху вашего бизнеса! 
														p Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-2.html
											.text2__text
												.text2__text-title Крышные установки
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-3.html
											.text2__text
												.text2__text-title Рекламные стелы
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-4.html
											.text2__text
												.text2__text-title Реклама на автомобилях
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-5.html
											.text2__text
												.text2__text-title Оформление витрин
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							.img-slider__dots
								a.all-services(href="#") Все услуги
						.main-screen__footer
							.main-screen__footer-soc
								.soc-list
									each soc in ["Вконтакте", " Facebook ", "Instagram", ]
										.soc-list__one
											a(href="#")=soc
							.main-screen__footer-contacts
								.contact
									address.contact__phone
										a(href="tel: 343 200-90-91") 343 200-90-91
									.contact__btn
										a.default-btn.default-btn--arrow.fancybox(href="#") Написать
					figure.img.img--3
						img(src="img/photos/img-3.jpg", alt="")
			include inc/footer.jade
		include inc/scripts.jade