<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Портфолио уровень 2
		include inc/head.jade
		include inc/css.jade
	body.inner.loading
		.mobile-menu
		#page-wr
			include inc/header.jade
			#content
				.inner-content
					.title-block__cont
						.wrapper
							.title-block
								.title-block__title
									h1 Крышные установки
								.title-block__crumbs
									.bread-crumbs
										a.bread-crumbs__link(href="#")
										a.bread-crumbs__link(href="#") Портфолио
										span.bread-crumbs__this Крышные установки
					.inner-content__content
						.wrapper
							.portfolio-two
								.portfolio-two__list
									each portfolio, i in [{title: 'Объемные буквы из нержавеющей стали (золото), контражурная подсветка', text:"Объемные буквы LIU JO"}, {title:"Оформление входной группы", text:"Ресторан 10 dieci"}, {title:"Объемные буквы из нержавеющей стали (золото), контражурная подсветка", text:"Объемные буквы LIU JO"}, {title:"Оформление входной группы", text:"Ресторан 10 dieci"}, {title:"Объемные буквы из нержавеющей стали (золото), контражурная подсветка", text:"Объемные буквы LIU JO"}, {title:"Оформление входной группы", text:"Ресторан 10 dieci"}, {title:"Объемные буквы из нержавеющей стали (золото), контражурная подсветка", text:"Объемные буквы LIU JO"}, {title:"Оформление входной группы", text:"Ресторан 10 dieci"}, {title:"Объемные буквы из нержавеющей стали (золото), контражурная подсветка", text:"Объемные буквы LIU JO"}]
										a(href="#" data-wow-duration="2s" data-wow-offset="20").portfolio-two__item.wow.fadeInUp.animated
											figure.portfolio-two__item-img
												img(src="img/photos/portfolio-two-"+(i+1)+".jpg", alt="")
											.portfolio-two__info.wow.fadeInDown.animated(data-wow-duration=".5s" data-wow-offset="20")
												.portfolio-two__item-title=portfolio.title
												.portfolio-two__item-text=portfolio.text

								include inc/paginator.jade

									


			include inc/footer.jade
		include inc/scripts.jade