<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Услуги
		include inc/head.jade
		include inc/css.jade
	body.inner.loading.page-services
		#page-wr
			include inc/header.jade
			#content
				.inner-content
					.inner-content__content
						.services-cont
							.services-img
								img(src="img/photos/services-bg.jpg", alt="")
							.services__content
								.wrapper
									.services__title
										h1 Услуги
									.services
										.services-current
											.services-current__title 
												figure.services-current__title-icon
													img(src="img/ico-services.svg", alt="")
												span Вывески
											.services-current__list
												.services-current__item 
													a(href="#").services-current__item-link Объемные буквы
												.services-current__item 
													a(href="#").services-current__item-link Световые короба
												.services-current__item 
													a(href="#").services-current__item-link Вывески для офиса
												.services-current__item 
													a(href="#").services-current__item-link Вывески из алюминиевого композита
												.services-current__item 
													a(href="#").services-current__item-link Панель-кронштейны
												.services-current__item 
													a(href="#").services-current__item-link Световые вывески


										.services__list
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-one.svg", alt="")
												a(href="#").services__item-link Рекламные стелы
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-two.svg", alt="")
												a(href="#").services__item-link Реклама на автомобилях
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-three.svg", alt="")
												a(href="#").services__item-link Выставочные стенды
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-for.svg", alt="")
												a(href="#").services__item-link Крышные установки
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-five.svg", alt="")
												a(href="#").services__item-link Согласование вывесок
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-six.svg", alt="")
												a(href="#").services__item-link Изготовление табличек
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-seven.svg", alt="")
												a(href="#").services__item-link Рекламные постеры
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-eight.svg", alt="")
												a(href="#").services__item-link Интерьерная печать
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-nine.svg", alt="")
												a(href="#").services__item-link Дизайнерские услуги
											.services__item
												figure.services__item-icon
													img(src="img/ico-services-ten.svg", alt="")
												a(href="#").services__item-link Изготовление наружной рекламы



					

									


			include inc/footer.jade
		include inc/scripts.jade