<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Одна работа
		include inc/head.jade
		include inc/css.jade
	body.inner.loading
		.mobile-menu
		#page-wr
			include inc/header.jade
			#content
				.inner-content
					.title-block__cont
						.wrapper
							.title-block
								.title-block__title
									a.title-block__title-back Вернуться к портфолио
								.title-block__crumbs
									.bread-crumbs
										a.bread-crumbs__link(href="#")
										span.bread-crumbs__this Портфолио
					.inner-content__content
						.wrapper
							.singl-worck
								.singl-worck__title
									h1 Объемные буквы из нержавеющей стали (золото),<br> контражурная подсветка
									a(href="#").btn Вывеска
								.singl-worck__slider
									.singl-worck__slide
										img(src="img/photos/singl-worck.jpg", alt="")
									.singl-worck__slide.video
										a(href="https://www.youtube.com/embed/C4JqW5ec8XE?rel=0&amp;controls=0", data-fancybox).fancybox
											img(src="img/photos/singl-worck.jpg", alt="")
								.text-page
									p
										i Лид — это первый абзац статьи, информативный отрывок позволяющий захватить внимание читателя на данном материале. Необязательный элемент.
									p Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.

							.nav-worck
								a(href="#").prev Предыдущая работа
								a(href="#").next Следующая работа

			include inc/footer.jade
		include inc/scripts.jade