<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Одна услуга
		include inc/head.jade
		include inc/css.jade
	body.inner.loading
		.mobile-menu
		#page-wr
			include inc/header.jade
			#content
				.inner-content
					.title-block__cont
						.wrapper
							.title-block
								.title-block__title
									a.title-block__title-back Вернуться к услугам
								.title-block__crumbs
									.bread-crumbs
										a.bread-crumbs__link(href="#")
										span.bread-crumbs__this Портфолио
					.inner-content__content
						.wrapper
							.singl-services
								.singl-services__cont
									.singl-services__title
										h1 Вывески
										
									
									.text-page
										h5 Правильный выбор вывески – это ключ к успеху вашего бизнеса!
										p Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
										p Наружная вывеска является неотъемлемой составляющей рекламного продвижения компании. Ваше место на фасаде здания, занимаемое вывеской – это рекламная площадка. Она должна работать максимально эффективно в существующих условиях высокой конкуренции товаров и услуг.
										h5 Функции вывески:
										ul 
											li навигационная (обозначает ваше месторасположение);
											li информационная (сообщает потребителю о предоставляемых товарах и услугах);
											li рекламная (привлекает внимание, продвигает ваш бренд); 
											li имиджевая (формирует необходимое представление о вашей компании, повышает уровень лояльно

										h5 Преимущества вывески перед другими видами наружной рекламы:
										ul
											li изготавливается единожды, и долгие годы выполняет возложенные на нее задачи;
											li обеспечивает постоянный контакт с аудиторией;
											li представляет вашу компанию на месте продаж и создает ее положительный образ;
											li вызывает интерес клиентов и побуждает к совершению непосредственного визита.
										blockquote.bg Поэтому к выбору вывески нужно относиться внимательно. Грамотно разработанная и качественно выполненная наружная вывеска (на здание, на магазин) – это не просто элемент навигации и имиджа, но и выгодное вложение, которое окупит затраты и привлечет новых клиентов, а также избавит от проблем, связанных с обслуживанием вывески.
										p У нас Вы можете заказать изготовление вывески в Екатеринбурге, расположенную как на здании, так и в помещении, любого вида, размера и формы по выгодной цене, позвонив по телефону (343) 200-90-91 или (343) 200-30-31.

									.base-options
										.base-options__title Основные виды вывесок
										.base-options__list
											.base-options__item
												a(href="").base-options__linck вывески с объемными буквами
											.base-options__item
												a(href="").base-options__linck вывески из алюминиевого композитного материала
											.base-options__item
												a(href="").base-options__linck световые короба
											.base-options__item
												a(href="").base-options__linck панель-кронштейны
								aside.aside
									.aside-wrap
										.promo
											.promo-title Закажите изготовление вывески в Екатеринбурге по приемлемой цене!
											.promo-text
												p Для консультации и заказа звоните нам по телефонам:<br> +7 (343) 200-90-91, 200-30-31
												p или воспользуйтесь возможностью заказать <a href="#" class="">обратный звонок</a>
											a(href="").default-btn.default-btn--arrow.fancybox Заказать услугу

							.standard-slider
								.standard-slider__list
									.standard-slider__item
										img(src="img/photos/portfolio-two-4.jpg", alt="")
									.standard-slider__item
										img(src="img/photos/portfolio-two-5.jpg", alt="")
									.standard-slider__item
										img(src="img/photos/portfolio-two-6.jpg", alt="")
									.standard-slider__item
										img(src="img/photos/portfolio-two-4.jpg", alt="")

							.singl-services
								.singl-services__cont
									.text-page
										p Если пятьдесят лет назад город освещали только фонари, то сегодня наш мегаполис играет всей палитрой красок. Мы сами можем формировать это рекламное пространство, привлекая потоки клиентов правильным выбором вида вывески, технологии изготовления и грамотным размещением наружной вывески на здание, выделяя себя среди других.

										p При выборе технологии изготовления и места размещения вывески на здании необходимо учитывать:

										ul
											li устройство фасада здания;
											li соблюдение единого облика фасада; 
											li ваше окружение – для отстройки от него;
											li просматриваемость здания с разных сторон, с пешеходной и проезжей части;
											li поток и направление движения потенциальных клиентов;
											li фирменную символику;
											li требования глав архитектуры города и управляющей компании здания/района.

										p Принимая во внимание совокупность вышеперечисленных факторов, а также индивидуальный дизайн, качественное изготовление вывески, современные тенденции и технологии – вы, несомненно, выделитесь и сформируете желаемый спрос.

										p Расположенные на зданиях вывески являются своеобразной «картой города» для потенциальных клиентов – начиная от небольшой вывески для магазина в вашем доме и заканчивая многометровыми рекламными конструкциями на крупных сооружениях города.

									.advantages-order
										.advantages-order__title Преимущества заказа вывески у нас
										.advantages-order__subtitle В умелых руках наружная вывеска – инструмент успеха для любой компании, способный принести многократное развитие вашему делу!
										.advantages-order__list
											.advantages-order__item(style="background-image: url('img/ico-adv-1.png')")
												span Замеры бесплатно
											.advantages-order__item(style="background-image: url('img/ico-adv-2.png')")
												span Собственное производство
											.advantages-order__item(style="background-image: url('img/ico-adv-3.png')")
												span Индивидуальный подход
											.advantages-order__item(style="background-image: url('img/ico-adv-4.png')")
												span Короткие сроки
											.advantages-order__item(style="background-image: url('img/ico-adv-5.png')")
												span Гарантия
											.advantages-order__item(style="background-image: url('img/ico-adv-6.png')")
												span Сервис

									.text-page
										p Наружная реклама должна отвечать Вашим целям, а богатый опыт компании «Индустрия рекламы» – это всегда широта мысли в совокупности с технически грамотным исполнением.

										p Уровень креатива, подбор уникальных технических новинок, эффективных художественных  решений – это движущие нами понятия, гибко встроенные в процесс работы.

										p Изготовление наружной рекламы в Екатеринбурге, в частности вывесок (на здание, на магазин), является основным из ключевых направлений деятельности нашей компании. Купив вывеску у нас, вы получите качественное изделие, отвечающее всем требованиям рекламной индустрии.

										p Выполненные нами изделия имеют высокие эксплуатационные характеристики. Мы делаем большой акцент на технологии изготовления вывески и подборе качественных материалов, адаптированных к низким температурам, осадкам, пыли и солнцу – различным погодным условиям. 

										p Наличие собственного рекламного производства, дизайн-студии и современного оборудования позволяет нам создавать вывески на любой вкус и кошелек.

								
								

							.nav-worck
								a(href="#").prev Предыдущая работа
								a(href="#").next Следующая работа



			include inc/footer.jade
		include inc/scripts.jade