$output-bourbon-deprecation-warnings: false
@import "bourbon"
@import "vars"

@media screen and (min-width: 820px)
	.js__menu-close
		display: none

@media screen and (min-width: 1000px)
	body.main.compensate-for-scrollbar
		margin-right: 0

@media screen and (max-width: 1600px)
	
	.head
		padding: 50px 5.25rem

	.footer__top
		padding: 3.6875rem 0 4.625rem

	.title-block__cont
		margin: 0 0 4.5rem

	.news__one
		&-img
			margin-right: 4rem

		&-title-cont
			margin-bottom: 1.4rem

		&:not(:last-child)
			padding-bottom: 2.2rem

		&:not(:first-child)
			padding-top: 2.2rem

	.paginator
		margin: 3.8125rem 0 0
	.footer
		margin: 4rem 0 0

	.services-cont
		margin-bottom: -5rem

@media screen and (max-width: 1480px)
	.main-wrapper
		box-sizing: border-box

@media screen and (max-width: 1440px)

	html 
		font-size: 95%

	.head, .main-screen__footer
		padding: 50px 2rem

	.img-slider

		&__dots
			padding-right: 2rem

	.text2
		// padding: 0 2rem

		&__svg
			margin-right: 2rem

	
	.page-services
		.title-block__title
			padding: 1rem 20px 1rem 0

	.services

		&-current
			margin-right: 105px

		&__item
			width: calc((100% - 60px * 2) / 2)
			margin: 0 0 30px 60px

	.footer

		&__top
			padding: 2.6875rem 0 3.625rem


		&-top
			margin-left: -2rem

			&__column
				width: calc((100% - 3rem * 3) / 3)
				margin-left: 3rem

				&--double
					width: calc((120% - 3rem * 2) / 2)

	.portfolio-two
		&__list 
			margin: 0 0 -20px -30px
		&__item
			width: calc((100% - 30px * 3) / 3)
			margin: 0 0 20px 30px

	.singl-worck
		&__title
			margin-bottom: 35px

		&__slider
			margin-bottom: 40px

	.nav-worck
		margin-top: 40px

@media screen and (max-width: 1400px)

	body.page-services 
		.title-block__cont
			margin: 0 0 25px 0


	.services__item-link
		margin-left: 20px

	.footer-top__column-title
		margin-bottom: 20px

	.news__one-img
		margin-right: 2rem

	.portfolio
		&__list
			margin: 0 0 -35px -35px

		&__item
			width: calc((100% - 35px * 3) / 3)
			margin: 0 0 35px 35px

	.portfolio-two

		&__info
			margin: 20px 0 10px
			padding-left: 40px

			&:before 
				left: 5px
			&:after 
				left: 14px

		&__item
			&-text
				margin-top: 10px

	.aside-wrap
		padding: 50px

	.singl-services 
		.aside
			width: 345px
			margin-left: 30px

		&__cont
			width: calc(100% - 375px)

	.top-nav
		padding: 3rem 2rem 4rem

@media screen and (max-width: 1300px)
	html
		font-size: 94%

	.img-slider

		&__dots

			.slick-dots

				button

					&:before
						width: auto
						margin-right: 0

	.main-port
		grid-gap: 22px

	.all-services

		&:before
			width: auto
			margin-right: 0

	.img__text2 

		.main-wrapper
			box-sizing: border-box
			padding-right: 275px

	.text2

		&__svg
			width: 200px

			svg
				max-width: 100%

@media screen and (max-width: 1250px)

	.services__item
		width: calc((100% - 40px * 2) / 2)
		margin: 0 0 20px 40px

	.page-services 
		.title-block__title
			padding: 0rem 0px 1rem 0

	.top-nav

		&__menu

			&-link
				padding: 9px 14px
				font-size: 15px
	
@media screen and (max-width: 1200px) 
	.head, .main-screen__footer
		padding: 35px 2rem !important

	.services-cont 
		.video-cont
			position: relative
			padding-bottom: 61.25%

	.logo
		img
			width: 60%

	.text

		&__text
			font-size: rem(32)
			margin-right: 1.2rem

	body.page-services

		.services-img
			height: 100%

			img
				height: 100%
				object-fit: cover
				object-position: top right

	.title-block
		padding: 0 1.5rem
		&__cont
			margin: 0 0 3.5rem

		&__title
			padding: 1rem 20px 1rem 0

	.paginator
		margin: 3.8125rem 0 0
		padding: 1.625rem 0

	.contacts
		&__header
			padding: 30px 1.5rem

		&__address, &__phone, &__time
			padding-left: 25px

		&__phone
			margin: 0 18px

	.portfolio
		&__list
			margin: 0 0 -1.4rem -1.4rem

		&__item
			width: calc((100% - 1.4rem * 3) / 3)
			margin: 0 0 1.4rem 1.4rem

			&-hover
				padding: 1.4rem

	.standart-page
		&__title
			margin-bottom: 1.4rem

		&__text
			margin: 2rem 0 0

	.singl-worck__title 
		h1
			font-size: 1.3rem
			line-height: 1.5rem

	.nav-worck
		padding: 35px 25px

	.aside-wrap
		padding: 30px

	.singl-services 
		.aside
			width: 320px

		&__cont
			width: calc(100% - 320px)

	.services-cont
		max-height: 615px
		overflow: hidden
	
@media screen and (max-width: 1100px)
	html
		font-size: 96%

	.top-nav

		&__menu

			&-link
				text-align: center

			li
				margin-right: 10px

	.main-port__one

		&:first-child 

			.port-one

				&__desc
					padding: 0 0 0.875rem 2.125rem
					margin: 0 0 0 0.875rem

		&:nth-child(2)

			.port-one

				&__desc
					margin-left: 1.4375rem
					padding: 2rem 0 0

		// &:nth-child(3)
		// 	.port-one

		// 		&__desc
		// 			right: calc(100% + 20px)
		// 			width: 61.82993%
		// 			padding: 0 2.125rem 0 0

		&:nth-child(4)

			.port-one

				&__desc
					padding: 0px 0 0 2rem
					margin: 22px 0 0 0.125rem

	.main-port

		&__link
			margin: 1.25rem 0 0

	.main-about

		&__cont
			// margin: 1.4375rem 0 0
	
	.main-screen

		&__footer
			// position: fixed

@media screen and (max-width: 990px)
	.main-screen
		height: auto
		min-height: 0

	body
		overflow: auto

		&.main
			overflow: visible !important

			.head
				position: static

	.img

		&--2
			margin: 2.4rem 0 0

		&--3
			max-height: none
			overflow: visible

		> img
			height: 100%
			width: 100%
			display: none

		&__text, &__text2
			position: static

			.wrapper
				width: auto
				margin: 0
				flex-direction: column
				align-items: flex-start
				box-sizing: border-box

		&__text2

			.main-wrapper
				padding-right: 2rem

	.text
		text-align: center
		flex-direction: column
		align-items: center

		&__btn
			margin: 2rem 0 0

	.fil0, .cls-1, .cls-4 
		stroke-dashoffset: 0;

	.simvol 
		opacity: 1

	.text2

		&__svg
			width: 135px

		&__text
			max-width: 100%
			margin-right: 21px
			margin-top: 10px

			&-title, &-text, &-link, &-text div
				opacity: 1 !important
				transform: translate3d(0, 0, 0) !important

			&-title
				margin-bottom: 1rem

			&-link
				margin: 14px 0 0

	.play-btn
		margin: 0
		opacity: 1

		&__text
			width: 165px
			padding: 0 37px 0 60px

	.text__text, .text__text div
		transition-delay: 0s !important
		transform: translate3d(0, 0, 0) !important
		opacity: 1 !important

	.img-slider__dots
		display: none !important

	.main-screen

		&__footer
			position: static

		&__slider

			.slick

				&-list
					overflow: hidden

				&-slide
					float: none
					width: auto !important
					opacity: 1 !important
					position: static !important

				&-track
					width: 100% !important

					&:before, &:after
						display: none

	.main-port

		.block
			display: flex
			flex-wrap: wrap
			margin: 0 0 -1rem -1rem

		&__one
			width: calc((100% - 1rem * 2) / 2)
			margin: 0 0 1rem 1rem

	.port-one
		flex-direction: column-reverse !important

		&__title, &__subtitle
			opacity: 1

			div
				opacity: 1 
				transform: none !important

		&__desc
			width: calc(100% - 0.125rem) !important
			padding: 0px 0 0 2rem !important
			margin: 22px 0 0 0.125rem !important
			position: relative !important
			left: auto !important
			bottom: auto !important
			top: auto !important
			right: auto !important

			&:before, &:after
				transform: none !important
				opacity: 1 !important
				right: auto !important

			&:before
				left: 0 !important
				top: 0 !important

			&:after
				top: auto !important
				bottom: 100% !important
				left: 9px !important
				width: 1px !important
				height: 21px !important

		&__img
			filter: none
			opacity: 1

	.top-nav
		justify-content: center
		display: flex
		padding: 0 2rem 2rem
		position: relative
		z-index: 5

		display: none

		&.js__opened
			padding-top: 33px

			.top-nav

				&__menu
					position: absolute
					top: 0
					left: 50%
					transform: translate3d(-50%, 0, 0)
					height: auto

		&__menu
			flex-direction: column
			align-items: stretch
			height: 33px
			overflow: hidden
			background: #fff

			&-link
				text-align: left
				padding-right: 2rem

			li
				margin-right: 0

				&:not(.active)
					// display: none

				&.active
					order: -1

					a
						position: relative

						&:after
							content: ""
							background: url("../img/ico-select-white-arrow.png") no-repeat
							position: absolute
							+size(6px 11px)
							right: 16px
							top: calc(50% - 5px)
							transform: rotate(90deg)

@media screen and (max-width: 820px)

	#page-wr
		position: relative

		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			+size(100%)
			background: rgba(#000, .3)
			pointer-events: none
			transition: opacity .3s ease
			opacity: 0
			z-index: 99

	.mobile-menu--open

		#page-wr

			&:after
				opacity: 1
	
	html 
		font-size: 90%

	body.main
		overflow: visible

	#logo 
		width: 60%
		
	.services-cont 
		.video-cont
			padding-top: 100%

	.title-block__title-back:before
		height: 40px
		width: 40px

	.head__menu
		display: none

	.mobile-menu
		display: block

	.footer
		z-index: 10

		.footer__top
			display: none
		&__top
			display: flex
			position: absolute
			top: 0
			right: 0
			width: 280px
			z-index: 10
			background: #fff
			z-index: -1
			padding: 0
			height: 100vh
			overflow-x: hidden
			overflow-y: auto

		&-menu
			z-index: 11
			&__link
				font-size: rem(16)
				padding: 10px
				font-weight: 500
				// text-transform: uppercase

				color: currentColor
				padding: 20px
				display: block
				cursor: pointer
				text-align: left
				border-top: 1px solid #e0e0e0

		&-top
			padding: 0

			&__column-title 
				a
					display: block
					color: #000 !important
					text-decoration: none
					font-weight: 500
					font-size: rem(16)
					text-decoration: none
					border: none
					padding: 20px
					// text-transform: uppercase
					text-align: left

	.footer

		&__soc
			padding: 15px 0 25px

	.soc
		padding: 0 20px

	.footer-top
		flex-direction: column

		&__column
			width: 100%
			text-align: center
			margin: 0


			&-title
				margin-bottom: 0

				&.empty
					display: none



			&:last-child
				
				.footer
					&-top__column-title
						display: none

				.f-address
					// display: none
				.f-address, .f-phones, .f-time
					background: none
					padding: 10px 20px
					font-size: rem(16)
					line-height: rem(20)
					text-align: left
					color: #000
					// display: none

				.f-contacts__one
					margin: 0 !important

	.soc
		text-align: left
		padding: 0 10px
		&__link
			height: 35px
			width: 35px

	.footer-top
		&__column:nth-child(2)

			.footer__menu
				transform: translate3d(0, 0, 0)
	
	.footer-top__column--double
		position: relative

		&:after
			content: ""
			position: absolute
			right: 20px
			top: 24px
			+size(10px)
			border: 
				top: 1px solid $main-color
				right: 1px solid $main-color
			transform: rotate(45deg)

		.footer__menu
			transform: translate3d(100%, 0, 0)
			transition: transform .3s ease

	.js__submenu-open
		.footer__menu.js__sub
			transform: translate3d(0, 0, 0)


	.footer-menu 

		li
			&:not(:first-child)
				margin: 0


	#page-wr
		transition: transform .3s ease
		z-index: 11

	.head
		margin-bottom: 20px


	.burger
		position: relative
		z-index: 100
		display: flex
		justify-content: center
		align-items: center
		box-sizing: content-box
		width: 30px
		height: 30px
		padding: 10px 15px
		background: 0 0
		border: 0
		user-select: none
		margin-left: -15px
		margin-right: -1.4rem
		cursor: pointer

		&:before 
			display: none
		span
			position: relative
			display: inline-block
			width: 18px
			height: 2px
			vertical-align: bottom
			background: $main-color
			transition: background .2s .4s

			&:before, &:after
				content: ""
				position: absolute
				left: 0
				width: 100%
				height: 2px
				background: $main-color
				transform-origin: 50% 50%
				transition: top .3s .3s,transform .3s

			&:before
				border-radius: 0
				transform: none
				top: 8px
			&:after
				top: -8px

	.mobile-menu--open
		overflow: hidden
		.head 
			z-index: 11
		#page-wr
			transform: translate3d(-280px, 0, 0)

		.footer__top
			z-index: 1
			transform: translate3d(0,0,0)
		

		.menu-mobile
			overflow-y: scroll
			overflow-x: hidden
		.submenu
			display: block
			position: absolute
			transform: translate3d(280px, 0,0)
			top: 0
			height: 100%
			background: #fff
			transition: .4s
			z-index: 10	

		.burger 
			> span
				background: 0 0
		.burger 
			> span
				&:before
					transform: rotate3d(0,0,1,45deg)
					top: 0
					transition: top .3s,transform .3s .5s
		.burger 
			> span
				&:after 
					transform: rotate3d(0,0,1,-45deg)
					top: 0
					transition: top .3s,transform .3s .5s

	.js__submenu-open

		&.footer__top
			z-index: initial

		.footer-menu--double
			column-count: initial

		.footer-top__column--double
			z-index: 11



	.footer-top__column--double
		.footer__menu
			position: absolute
			top: 0
			left: 0
			display: flex !important
			transition: transform .3s ease
			background: #fff
			display: flex
			flex-direction: column
			z-index: 10



			
	.js__menu-close
		position: relative
		transition: transform .3s ease
		transition-delay: .3s
		font-size: rem(16)
		font-weight: 500
		padding: 20px
		background: none !important
		text-align: left
		color: $main-color

		&:after
			content: ""
			position: absolute
			right: 20px
			top: 23px
			+size(10px)
			border: 
				top: 1px solid $main-color
				right: 1px solid $main-color
			transform: rotate(-135deg)



	.news__one
		&-img
			margin-right: 1.4rem

		&-link
			padding: 0 1rem

		&:not(:last-child)
			padding-bottom: 1.4rem

		&:not(:first-child)
			padding-top: 1.4rem

		&-title-cont
			margin-bottom: 0.8rem

	.paginator
		margin: 1.8125rem 0 0
		padding: 1rem 0

	.footer
		margin: 2rem 0 0

	.title-block
		padding: 0 1.4rem
		align-items: flex-start
		flex-direction: column-reverse

		&__title
			padding: 0rem 20px 1rem 0
			width: 100%
			&-back
				margin-left: 0

				&:before 
					margin-right: 1.375rem

		&__crumbs
			width: 100%



	.contacts
		&__header
			flex-wrap: wrap
		&__address, &__phone, &__time
			width: calc((100% - 30px * 2) / 2)
			padding-left: 38px

		&__address
			width: 100%
			margin-bottom: 20px

		&__phone
			margin-left: 0

	.contacts 
		.top
			margin-bottom: 10px

	.title-block__cont
		margin: 0 0 2.5rem

	.portfolio
		&__item
			width: calc((100% - 1.4rem * 2) / 2)

			&-img
				display: none
			&-hover 
				position: static
			&-title
				margin-top: 20px

			&:hover

				.portfolio__item-title
					color: #000

				g 
					rect, circle, line, polyline, path, polygon
						stroke: $main-color

				.portfolio-simvol 
					path
						stroke: transparent
						fill: $main-color

			.portfolio__item-hover
				opacity: 1 !important


	.portfolio-two__item
		width: calc((100% - 30px * 2) / 2)

	.nav-worck 
		.prev
			padding-left: 65px

			&:before 
				left: 30px
		.next
			padding-right: 65px

			&:before
				right: 30px

	.singl-worck__slider 
		.slick-next, .slick-prev 
			bottom: 21px

	.video:before
		bottom: 21px

	.singl-services
		flex-direction: column-reverse

		.aside
			width: 100%
			margin: 0 0 20px 0

		&__cont
			width: 100%

	.promo
		&-title
			margin-bottom: 15px
		&-text
			margin-bottom: 25px

			> *:not(:first-child)
				margin-top: 10px

	.services
		flex-direction: column
		margin-left: 0

		&__list
			margin-top: 40px
			margin-left: -40px

		.services-current__item

		&-current
			margin-right: 0
			margin-left: 80px

			&__list
				display: flex
				flex-wrap: wrap
				margin-left: -10px

			&__title-icon 
				margin-left: -80px
				margin-right: 20px


			&__item
				width: calc((100% - 30px * 3) / 3)
				margin: 0 0 20px 10px !important

		&-cont
			max-height: calc(100vh - 78px)
			overflow: hidden

	.services-current__item-link
		opacity: 1 !important

	.footer
		background: #fff

	.head
		padding: 10px 2rem 1.4rem




@media screen and (max-height: 375px)



	.footer-top__column--double .footer__menu
		display: block !important

	.footer-menu--double
		padding: 1.4rem


	.mobile-menu--open

		.footer-top__column-title 
			a
				font-size: 15px
		.footer-menu__link 
			padding: 5px 0
			font-size: 15px

		.footer-top
			padding: 0

	.footer__top
		overflow: hidden
		padding: 0

	.footer__top.js__submenu-open
		overflow: auto

	.js__menu-close
		position: fixed
		padding: 7px 12px 7px 33px
		font-size: rem(13)
		background: url(../img/ico-white-arrow-back.png) no-repeat center left 12px, #ff181f !important

	.footer-menu--double
		padding: 1.4rem 125px



@media screen and (max-width: 660px)

	.portfolio__item-hover
		max-height: 177px

	.port-one
		&__img
			img
				width: 100%
				height: 177px
				object-fit: cover 
				object-position: center 

	.main-port

		.block
			margin: 0 0 -1rem

		&__one
			margin-left: 0

	.text
		text-align: left
		align-items: flex-start

		&__text
			font-size: rem(20)

		&2

			&__svg

				svg
					height: auto !important

	body.page-services 

		#logo .st1
			fill: #000

	.services

		&-current
			margin-left: 0

			&__title

				&-icon
					margin-left: 0

		&__list
			margin-left: 0

		&__item
			margin-left: 0

			&-link

				&:first-child
					margin-left: 0

	.play-btn
		width: auto
		&__btn
			display: none
		&__text
			position: static
			border-radius: 48px
			transition: none
			padding: 10px 20px !important
			
		&.js__animated 

			.play-btn__text
				width: auto

	.mobile-menu

		.main-wrapper
			padding: 0 !important


	#logo 
		// width: 60%
		width: auto
		// margin-right: 20px

	.head__logo
		margin-right: 50px

	.portfolio__item-logo
		max-height: 100px
		max-width: 120px

	.table-block
		position: relative
		margin: rem(22) 0 0
		&:after
			content: ""
			position: absolute;
			right: 0px;
			top: 0;
			height: 100%;
			width: 100px;
			pointer-events: none;
			// background: url('../img/ico-fade.png') тщ-кузуфе
			background: linear-gradient(to right, transparent, $second-color)
			// filter: blur(2px)

	.head
		padding: 10px 1.4rem

	.burger
		margin-right: -15px


	.main-wrapper
		padding: 0 21px !important

	.main-screen

		&__footer
			padding: 1rem 21px
			flex-direction: column

			&-contacts
				margin: 13px 0 0

	.img

		&--3
			margin: 15px 0 0

		&__text2

			.main-wrapper
				flex-direction: column

	.main-port
		flex-direction: column

		&__one
			width: 100%

	.title-block__crumbs
		display: none

	.title-block__title
		padding: 1rem 0 1rem 0

		&-back:before
			height: 33px
			width: 33px

	.standart-page__title 
		h1
			font-size: 1.1rem
			line-height: 1.1

	.text-page 
		h2, h3, h4
			font-size: 1.1rem
			line-height: 1.3rem

		h5, h6
			font-size: 1rem
			line-height: 1.2rem


	.contacts
		&__header 
			margin-bottom: -20px

		&__address, &__phone, &__time
			width: 100%
			padding-left: 30px
			margin-bottom: 20px

	.news__one
		flex-direction: column

	.wrapper
		padding: 0 1.4rem

	.title-block
		&__cont
			margin: 0 0 2rem
		&__title 
			h1 
				font-size: 1.4rem

	.paginator
		&__arrow
			width: 3.25rem
		&__list 
			li
				a
					padding: 0 0.4rem

	.bread-crumbs
		&__link
			margin: 0
			padding-left: 20px
			display: none

			&:first-child
				padding-left: 20px

			&:last-of-type
				display: block

			&:before
				display: none

			&:after
				+size(10px)
				border-left: 1px solid $main-color
				border-top: 1px solid $main-color
				background: transparent
				transform: rotate(-45deg)
				right: initial 
				left: 0
				bottom: calc(50% - 4px)
		&__this
			display: none

	.news__one
		&-img
			margin: 0 0 1.4rem 0
		&-link
			padding: 20px 0 0 0
			justify-content: flex-start
			margin-left: 0

	.head__menu
		display: none

	.map
		height: 250px

	.portfolio
		&__list
			margin: 0

		&__item
			width: 100%
			margin: 0 0 20px 0

	.portfolio-two
		&__item
			width: 100%

		&__info
			padding-left: 0

			&:before, &:after 
				display: none

	.slick-arrow
		height: 30px
		width: 30px

	.singl-worck
		&__slider 
			.slick-prev

				right: 55px
				bottom: 10px
			.slick-next
				bottom: 10px
				right: 10px




	.video:before
		left: 10px
		height: 30px
		width: 30px
		bottom: 10px
		border-radius: 50%

	.singl-worck
		&__title
			margin-bottom: 20px

		&__slider
			margin-bottom: 25px

	body.inner 
		.footer
			margin: 3rem 0 0

	.nav-worck 
		.prev
			padding-left: 30px

			&:before
				left: 8px
		.next
			padding-right: 30px
			text-align: right

			&:before
				right: 8px

	.singl-worck__title
		flex-direction: column-reverse
		align-items: flex-end

		h1
			margin-top: 20px


	.base-options
		&__title
			font-size: 1.2rem
			line-height: 1.3rem
			margin-bottom: 20px

	.standard-slider
		margin-top: 50px

		&__list
			padding: 10px 0px

		.slick-next, .slick-prev
			top: -35px

	.advantages-order
		margin-top: 25px

		&__title
			font-size: 1.2rem
			line-height: 1.4rem
			margin-bottom: 15px

		&__list 
			margin: 47px 0 -35px 0

		&__item
			width: 100%
			margin: 0 0 35px 0
			padding: 25px 1.4rem 25px 90px
			background-position: center left 20px

	.singl-services 
		.text-page 
			ul li:before
				margin: 0 5px 0 0

		&__title 
			h1
				font-size: 1.3rem
				line-height: 1.5rem

	.services
		&-current__item
			width: 100%
		&__item
			width: 100%

		&-cont
			max-height: 100%
			overflow: initial
			margin-bottom: 0

		&__content
			position: static

	body.page-services 
		.services-img 
			img
				height: auto
		.services__title

			padding: 10px 0 35px

			h1
				color: #000
		.head
			position: static

		.logo
			&-white
				display: none 
			&-base 
				display: block


    

	.services

		img 
			filter: contrast(0)
		&-img
			display: none

		&__content
			color: #000

		&-current__title 
			span
				font-weight: 500

		&__list
			margin-top: 15px
			margin-bottom: 0

		&__item
			font-weight: 500

@media screen and (max-width: 374px)
	
	.text2__text-title
		font-size: 1.4rem

	.mobile-menu--open 
		#page-wr
			transform: translate3d(-260px, 0, 0)

	.footer__top
		width: 260px