$output-bourbon-deprecation-warnings: false
@import "bourbon"
@import "vars"

@media screen and (max-width: 1600px)
	
	body.inner 
		.head
			padding: 50px 5.25rem

	.footer__top
		padding: 3.6875rem 0 4.625rem

	.title-block__cont
		margin: 0 0 4.5rem

	.news__one
		&-img
			margin-right: 4rem

		&-title-cont
			margin-bottom: 1.4rem

		&:not(:last-child)
			padding-bottom: 2.2rem

		&:not(:first-child)
			padding-top: 2.2rem

	.paginator
		margin: 3.8125rem 0 0
	.footer
		margin: 4rem 0 0

	.services-cont
		margin-bottom: -4rem

@media screen and (max-width: 1440px)

	html 
		font-size: 95%

	.head, .main-screen__footer
		padding: 50px 2rem

	.img-slider

		&__dots
			padding-right: 2rem

	.text2
		// padding: 0 2rem

		&__svg
			margin-right: 2rem

	
	.page-services
		.title-block__title
			padding: 1rem 20px 1rem 0

	.services

		&-current
			margin-right: 105px

		&__item
			width: calc((100% - 60px * 2) / 2)
			margin: 0 0 30px 60px

	.footer
		&__top
			padding: 2.6875rem 0 3.625rem


		&-top
			margin-left: 0

			&__column
				width: calc((100% - 1rem * 3) / 3)
				margin-left: 1rem

				&--double
					width: calc((120% - 1rem * 2) / 2)

	.portfolio-two
		&__list 
			margin: 0 0 -20px -30px
		&__item
			width: calc((100% - 30px * 3) / 3)
			margin: 0 0 20px 30px

	.singl-worck
		&__title
			margin-bottom: 35px

		&__slider
			margin-bottom: 40px

	.nav-worck
		margin-top: 40px

@media screen and (max-width: 1400px)

	body.page-services 
		.title-block__cont
			margin: 0 0 25px 0


	.services__item-link
		margin-left: 20px

	.footer-top__column-title
		margin-bottom: 20px

	.news__one-img
		margin-right: 2rem

	.portfolio
		&__list
			margin: 0 0 -35px -35px

		&__item
			width: calc((100% - 35px * 3) / 3)
			margin: 0 0 35px 35px

	.portfolio-two

		&__info
			margin: 20px 0 10px
			padding-left: 40px

			&:before 
				left: 5px
			&:after 
				left: 14px

		&__item
			&-text
				margin-top: 10px

	.aside-wrap
		padding: 50px

	.singl-services 
		.aside
			width: 345px
			margin-left: 30px

		&__cont
			width: calc(100% - 375px)

@media screen and (max-width: 1300px)
	html
		font-size: 94%

	.img-slider

		&__dots

			.slick-dots

				button

					&:before
						width: auto
						margin-right: 0

	.all-services

		&:before
			width: auto
			margin-right: 0

	.img__text2 

		.main-wrapper
			box-sizing: border-box
			padding-right: 275px

	.text2

		&__svg
			width: 200px

			svg
				max-width: 100%

@media screen and (max-width: 1250px)

	.services__item
		width: calc((100% - 40px * 2) / 2)
		margin: 0 0 20px 40px

	.page-services 
		.title-block__title
			padding: 0rem 0px 1rem 0


@media screen and (max-width: 1200px) 
	.head, .main-screen__footer
		padding: 35px 2rem

	.logo
		img
			width: 60%



	body.page-services

		.services-img
			height: 100%

			img
				height: 100%
				object-fit: cover
				object-position: top right

	.title-block
		padding: 0 1.5rem
		&__cont
			margin: 0 0 3.5rem

		&__title
			padding: 1rem 20px 1rem 0

	.paginator
		margin: 3.8125rem 0 0
		padding: 1.625rem 0

	.contacts
		&__header
			padding: 30px 1.5rem

		&__address, &__phone, &__time
			padding-left: 25px

		&__phone
			margin: 0 18px

	.portfolio
		&__list
			margin: 0 0 -1.4rem -1.4rem

		&__item
			width: calc((100% - 1.4rem * 3) / 3)
			margin: 0 0 1.4rem 1.4rem

			&-hover
				padding: 1.4rem

	.standart-page
		&__title
			margin-bottom: 1.4rem

		&__text
			margin: 2rem 0 0

	.singl-worck__title 
		h1
			font-size: 1.3rem
			line-height: 1.5rem

	.nav-worck
		padding: 35px 25px

	.aside-wrap
		padding: 30px

	.singl-services 
		.aside
			width: 320px

		&__cont
			width: calc(100% - 320px)

	.services-cont
		max-height: 615px
		overflow: hidden

@media screen and (max-width: 1100px)
	html
		font-size: 96%



@media screen and (max-width: 820px)
	
	html 
		font-size: 90%

	.head__menu
		display: none

	.footer__top
		display: flex
		pointer-events: none

		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		width: 0
		z-index: 10
		background: #fff
		opacity: 0
		transition: opacity 1s ease


	.footer-top
		height: 100%
		align-items: center
		justify-content: center

		font-size: rem(25)
		font-weight: 500
		text-transform: uppercase
		color: #000

		opacity: 0
		transition: opacity 1s ease
		transition-delay: 2s


	.burger
		position: relative
		z-index: 100
		display: flex
		justify-content: center
		align-items: center
		box-sizing: content-box
		width: 30px
		height: 30px
		padding: 15px
		background: 0 0
		border: 0
		user-select: none
		margin-left: -15px
		margin-right: -15px
		cursor: pointer

		&:before 
			display: none
		span
			position: relative
			display: inline-block
			width: 30px
			height: 2px
			vertical-align: bottom
			background: $main-color
			transition: background .2s .4s

			&:before, &:after
				content: ""
				position: absolute
				left: 0
				width: 100%
				height: 2px
				background: $main-color
				transform-origin: 50% 50%
				transition: top .3s .3s,transform .3s

			&:before
				border-radius: 0
				transform: none
				top: 8px
			&:after
				top: -8px

	.mobile-menu--open
		.head 
			z-index: 11
		#content
			display: none
		.footer-top
			flex-direction: column
			padding: 125px 0 10px

			&__column
				width: 100%
				text-align: center
				margin: 0


				&-title
					margin-bottom: 0

					&.empty
						display: none



				&:last-child
					display: none 

				&--double
					.footer__menu
						display: none
		.footer-menu 
			li
				&:not(:first-child)
					margin: 0

		.main-wrapper
			display: flex
			align-items: center
			justify-content: center
			flex: 1 1 auto

		.footer__top
			opacity: 1
			pointer-events: all
			width: 100%
		
		.footer-top
			opacity: 1
			transition-delay: 2s

			

			&__column-title 
				a
					display: block
					color: currentColor
					text-decoration: none
					font-weight: 500
					font-size: 25px
					text-decoration: none
					border: none
					padding: 10px 0

		.footer-menu__link
			color: currentColor
			padding: 10px 0
			display: block
			cursor: pointer

		.footer__soc
			display: none

		.menu-mobile
			overflow-y: scroll
			overflow-x: hidden
		.submenu
			display: block
			position: absolute
			transform: translate3d(350px, 0,0)
			top: 0
			height: 100%
			background: #fff
			transition: .4s
			z-index: 10	

		.burger 
			> span
				background: 0 0
		.burger 
			> span
				&:before
					transform: rotate3d(0,0,1,45deg)
					top: 0
					transition: top .3s,transform .3s .5s
		.burger 
			> span
				&:after 
					transform: rotate3d(0,0,1,-45deg)
					top: 0
					transition: top .3s,transform .3s .5s


	.news__one
		&-img
			margin-right: 1.4rem

		&-link
			padding: 0 1rem

		&:not(:last-child)
			padding-bottom: 1.4rem

		&:not(:first-child)
			padding-top: 1.4rem

		&-title-cont
			margin-bottom: 0.8rem

	.paginator
		margin: 1.8125rem 0 0
		padding: 1rem 0

	.footer
		margin: 2rem 0 0

	.title-block
		padding: 0 1.4rem
		align-items: flex-start
		flex-direction: column-reverse

		&__title
			padding: 0rem 20px 1rem 0
			width: 100%
			&-back
				margin-left: 0

				&:before 
					margin-right: 1.375rem

		&__crumbs
			width: 100%



	.contacts
		&__header
			flex-wrap: wrap
		&__address, &__phone, &__time
			width: calc((100% - 30px * 2) / 2)
			padding-left: 38px

		&__address
			width: 100%
			margin-bottom: 20px

		&__phone
			margin-left: 0

	.contacts 
		.top
			margin-bottom: 10px

	.title-block__cont
		margin: 0 0 2.5rem

	.portfolio
		&__item
			width: calc((100% - 1.4rem * 2) / 2)

			&-img
				display: none
			&-hover 
				position: static
			&-title
				margin-top: 20px

			&:hover

				.portfolio__item-title
					color: #000

				g 
					rect, circle, line, polyline, path, polygon
						stroke: $main-color

				.portfolio-simvol 
					path
						stroke: transparent
						fill: $main-color

			.portfolio__item-hover
				opacity: 1 !important


	.portfolio-two__item
		width: calc((100% - 30px * 2) / 2)

	.nav-worck 
		.prev
			padding-left: 65px

			&:before 
				left: 30px
		.next
			padding-right: 65px

			&:before
				right: 30px

	.singl-worck__slider 
		.slick-next, .slick-prev 
			bottom: 21px

	.video:before
		bottom: 21px

	.singl-services
		flex-direction: column-reverse

		.aside
			width: 100%
			margin: 0 0 20px 0

		&__cont
			width: 100%

	.promo
		&-title
			margin-bottom: 15px
		&-text
			margin-bottom: 25px

			> *:not(:first-child)
				margin-top: 10px

	.services
		flex-direction: column
		margin-left: 0

		&__list
			margin-top: 40px
			margin-left: -40px

		.services-current__item

		&-current
			margin-right: 0
			margin-left: 80px

			&__list
				display: flex
				flex-wrap: wrap
				margin-left: -10px

			&__title-icon 
				margin-left: -80px
				margin-right: 20px


			&__item
				width: calc((100% - 30px * 3) / 3)
				margin: 0 0 20px 10px !important

		&-cont
			max-height: calc(100vh - 78px)
			overflow: hidden

	.services-current__item-link
		opacity: 1 !important

	.footer
		background: #fff

	.head
		padding: 10px 2rem 1.4rem






@media screen and (max-width: 660px)

	.title-block__crumbs
		display: none

	.title-block__title
		padding: 1rem 20px 1rem 0

	.standart-page__title 
		h1
			font-size: 1.1rem
			line-height: 1.1

	.text-page 
		h2, h3, h4
			font-size: 1.1rem
			line-height: 1.3rem

		h5, h6
			font-size: 1rem
			line-height: 1.2rem


	.contacts
		&__header 
			margin-bottom: -20px

		&__address, &__phone, &__time
			width: 100%
			padding-left: 30px
			margin-bottom: 20px

	.news__one
		flex-direction: column

	.wrapper
		padding: 0 1.4rem

	.title-block
		&__cont
			margin: 0 0 2rem
		&__title 
			h1 
				font-size: 1.4rem

	.paginator
		&__arrow
			width: 3.25rem
		&__list 
			li
				a
					padding: 0 0.4rem

	.bread-crumbs
		&__link
			margin: 0
			padding-left: 20px
			display: none

			&:first-child
				padding-left: 20px

			&:last-of-type
				display: block

			&:before
				display: none

			&:after
				+size(10px)
				border-left: 1px solid $main-color
				border-top: 1px solid $main-color
				background: transparent
				transform: rotate(-45deg)
				right: initial 
				left: 0
				bottom: calc(50% - 4px)
		&__this
			display: none

	.news__one
		&-img
			margin: 0 0 1.4rem 0
		&-link
			padding: 20px 0 0 0
			justify-content: flex-start
			margin-left: 0

	.head__menu
		display: none

	.map
		height: 250px

	.portfolio
		&__list
			margin: 0

		&__item
			width: 100%
			margin: 0 0 20px 0

	.portfolio-two
		&__item
			width: 100%

		&__info
			padding-left: 0

			&:before, &:after 
				display: none

	.slick-arrow
		height: 30px
		width: 30px

	.singl-worck
		&__slider 
			.slick-prev

				right: 80px
				bottom: 10px
			.slick-next
				bottom: 10px
				right: 10px




	.video:before
		left: 15px
		height: 30px
		width: 30px
		bottom: 10px
		border-radius: 50%

	.nav-worck 
		.prev
			padding-left: 30px

			&:before
				left: 8px
		.next
			padding-right: 30px
			text-align: right

			&:before
				right: 8px

	.singl-worck__title
		flex-direction: column-reverse
		align-items: flex-end

		h1
			margin-top: 20px


	.base-options
		&__title
			font-size: 1.2rem
			line-height: 1.3rem
			margin-bottom: 20px

	.standard-slider
		margin-top: 50px

		&__list
			padding: 10px 0px

		.slick-next, .slick-prev
			top: -35px

	.advantages-order
		margin-top: 25px

		&__title
			font-size: 1.2rem
			line-height: 1.4rem
			margin-bottom: 15px

		&__list 
			margin: 47px 0 -35px 0

		&__item
			width: 100%
			margin: 0 0 35px 0
			padding: 25px 1.4rem 25px 90px
			background-position: center left 20px

	.singl-services 
		.text-page 
			ul li:before
				margin: 0 5px 0 0

		&__title 
			h1
				font-size: 1.3rem
				line-height: 1.5rem

	.services
		&-current__item
			width: 100%
		&__item
			width: 100%

		&-cont
			max-height: 100%
			overflow: initial
			margin-bottom: 0

		&__content
			position: static

	body.page-services 
		.services-img 
			img
				height: auto
		.services__title

			padding: 10px 0 35px

			h1
				color: #000
		.head
			position: static

		.logo
			&-white
				display: none 
			&-base 
				display: block


    

	.services

		img 
			filter: contrast(0)
		&-img
			display: none

		&__content
			color: #000

		&-current__title 
			span
				font-weight: 500

		&__list
			margin-top: 15px
			margin-bottom: 0

		&__item
			font-weight: 500