
$output-bourbon-deprecation-warnings: false;
@import "bourbon"
@import "vars"
@import "base"
@import "functions"

*[v-cloak]
	display: none

.loader
	display: none

button, input, select
	font-family: inherit

.rub
	font-style: normal
	font-size: inherit
	font-weight: inherit
	font-family: "Roboto"

body
	overflow: hidden

img
	// width: 100vw
	// width: 100%

.slick-slide
	height: auto

.string
	white-space: nowrap

.head
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 5
	padding: 76px rem(116) 0

	&__wrap
		display: flex
		align-items: center
		justify-content: space-between

.contact
	display: flex
	align-items: center

	&__phone
		margin-right: 31px

		a
			font-size: rem(18)
			color: #000
			text-decoration: none

.default-btn
	display: inline-block
	border: none
	background: $main-color
	border-radius: 27px
	color: #fff
	text-decoration: none
	font-weight: 400
	font-size: 14px
	text-align: center
	transition: background-color .3s ease, transform .2s ease
	padding: 12px 29px 13px

	&:hover, &:focus
		background-color: lighten($main-color, 6%)

	&:active
		transform: scale(.9)

	&--arrow
		padding-right: 57px
		white-space: nowrap
		background: url("../img/ico-white-arrow.png") center right 27px no-repeat, $main-color

.head-menu
	display: flex

	&__link
		color: #000
		text-decoration: none
		font-weight: 400
		font-size: rem(14)
		position: relative

		&:after
			content: ""
			position: absolute
			left: 0
			top: calc(100% + 3px)
			background: $main-color
			+size(100% 1px)
			transition: opacity .3s ease, transform .3s ease
			opacity: 0
			transform: translate3d(0, 5px, 0)

		&:hover, &:focus, &.active

			&:after
				opacity: 1
				transform: translate3d(0, 0, 0)


	li

		&:not(:last-child)
			margin-right: vw(46)

.img
	position: relative
	max-height: 100vh

	&--3
		overflow-y: auto

	img
		display: block
		// width: 100vw

	> img
		+size(100vw 100vh)
		object-fit: cover
		object-position: center

	&__text, &__text2
		position: absolute
		top: 0
		left: 0
		+size(100%)
		display: flex
		flex-direction: column
		// align-items: center
		justify-content: center

		.wrapper
			width: 1395px
			max-width: 100%

	&__text2

.text2
	width: 1100px
	max-width: 100%
	margin: 0 auto
	display: flex !important
	font-weight: 400

	&__svg
		flex: none
		margin-right: 155px

	&__text
		flex: 1 1 auto

		&-title
			font-size: rem(28)
			line-height: lh(32, 28)
			margin-bottom: 2rem
			transition: transform .7s ease, opacity .5s ease
			opacity: 0
			transform: translate3d(0, 60%, 0)

		&-text
			font-size: rem(14)
			line-height: lh(24, 14)
			transition: transform .7s ease
			transform: translate3d(0, 60%, 0)
			transition-delay: .1s

			div
				transition: transform .7s ease, opacity .7s ease
				opacity: 0

		&-link
			margin: 43px 0 0
			transition: transform .7s ease, opacity .5s ease
			opacity: 0
			transform: translate3d(0, 60%, 0)
			transition-delay: .7s

			img
				width: auto

.link-more
	display: inline-flex
	align-items: center
	flex-wrap: wrap
	
	&:before
		display: inline-block
		content: ""
		border-radius: 50%


.main-screen
	position: relative
	height: 100vh

	&__header, &__footer
		position: absolute
		left: 0
		width: 100%
		z-index: 5

		img
			display: block

	&__header
		top: 0

	&__footer
		bottom: 0
		padding: 0 rem(116) 75px
		display: flex
		align-items: center
		justify-content: space-between

.text
	display: flex
	justify-content: space-between
	align-items: center

	&__text
		font-size: rem(48)
		line-height: lh(59, 48)
		transition: transform .7s ease
		transform: translate3d(0, 60%, 0)
		max-width: 800px

		span

			span
				color: $main-color

		div
			transition: transform .7s ease, opacity .7s ease
			opacity: 0
			white-space: nowrap

.main-wrapper
	display: flex
	max-width: 100%

.js__active-slide

	.text__text, .text__text div
		transform: translate3d(0,0,0) !important
		opacity: 1

	.play-btn
		transition:
			delay: .7s
		opacity: 1

	.text2

		&__text

			&-title, &-text, &-text div, &-link
				transform: translate3d(0, 0, 0) !important
				opacity: 1

		// &-text

		// 	div
		// 		transform: translate3d(0, 0, 0)
		// 		opacity: 1

.play-btn
	position: relative
	display: flex
	align-items: center
	transition: opacity .3s ease
	width: 204px
	margin-right: 58px
	opacity: 0
	cursor: pointer

	&__btn
		background: url("../img/play-btn.jpg") center no-repeat, #f7f7f7
		position: relative
		z-index: 1
		border-radius: 50%

	&__text
		background: $main-color
		transition: width .7s ease, padding .7s ease
		color: #fff
		font-weight: 400
		font-size: 14px
		position: absolute
		left: 35px
		top: 0
		height: 100%
		width: 0
		overflow: hidden
		line-height: lh(20, 14)
		border-radius: 0 48px 48px 0
		padding: 0
		display: flex
		align-items: center

	&.js__animated
		
		.play-btn

			&__text
				width: 165px
				padding: 0 37px 0 60px

.column 
	display: flex;
	flex-direction: column;

	
.fil0 
	stroke-dasharray: 4800;
	stroke-dashoffset: 4800;
	transition: stroke-dashoffset 1s ease

.cls-4 
	stroke-dasharray: 4800;
	stroke-dashoffset: 4800;
	transition: stroke-dashoffset 3s ease


.fil1 
	stroke-dasharray: 5210;
	stroke-dashoffset: 5210;
	stroke: black;
	fill: transparent;

.js__active-slide .fil0 
	stroke-dashoffset: 0;

.simvol 
	opacity: 0;
	fill: black;
	transition: opacity .2s ease

.js__active-slide .simvol 
	opacity: 1;

.cls-1 
	stroke-dasharray: 3800;
	stroke-dashoffset: 3800;
	transition: stroke-dashoffset 3s ease

.js__active-slide .cls-1 
	stroke-dashoffset: 0;

.js__active-slide .cls-4 
	stroke-dashoffset: 0;

@import "_grid"
@import "media"